<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/iview.css">
    <link rel="stylesheet" type="text/css" href="/css/element.css">
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/iview.js"></script>
    <script type="text/javascript" src="/js/element.js"></script>
    <script type="text/javascript" src="//unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/qs/6.9.4/qs.min.js"></script>
</head>
<body>
<div th:insert="head"></div>
<div id="index" style="margin: 20px 15%;">
    <div style="display: flex;">
        <div>
            <Carousel autoplay loop style="width: 460px">
                <Carousel-Item>
                    <img class="head_left" src="/images/111.jpg"></img>
                </Carousel-Item>
                <Carousel-Item>
                    <img class="head_left" src="/images/222.jpg"></img>
                </Carousel-Item>
            </Carousel>
        </div>
        <div class="head_right">
            <span>fsfsadf</span>sdfsd
        </div>
    </div>
</div>
</body>
<script>
    var index=new Vue({
        el:'#index',
        data:{

        },
        methods:{

        },
        created(){

        }
    })
</script>
<style>
    .head_left{
        width: 460px;
        height: 360px;
    }
    .head_right{
        margin-left: 10px;
        height: 360px;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
    }
    body {
        background: #F5F5F5;
    }
</style>
</html>